<div nz-row class="company-row">
    <div nz-col nzFlex="2"><button class="edit-button" *ngIf="consultant"
            [disabled]="!this.roleGuard.isUserOrRoles(this.consultant.user,['ADMIN'])" nz-button nzType="primary"
            (click)="editConsultant(consultant)"><i nz-icon nzType="edit"></i>Edit</button>
    </div>
    <div nz-col nzFlex="3">
        <h1>Consultant Profile</h1>
    </div>
</div>
<div nz-row [nzGutter]="16" *ngIf="consultant">
    <div nz-col [nzSpan]="8" *ngIf="consultant.ownedCompany">
        <div class="logo"><img [src]=" consultant.ownedCompany.logo |src | async "
                alt="{{consultant.ownedCompany.name}}'s Logo">
        </div>
        <div class="detail-name name-button"><button mat-raised-button routerLink="/company-profile"
                [queryParams]="{ companyId: consultant.ownedCompany.id }">{{consultant.ownedCompany.name}}</button>
        </div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th class="detail-name">Owned Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Name :<span class="tr-company">{{consultant.ownedCompany.name}}</span></td>
                    </tr>
                    <tr>
                        <td>TIN :<span class="tr-company">{{consultant.ownedCompany.taxIdentificationNumber}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Tax Office :<span class="tr-company">{{consultant.ownedCompany.taxOffice}}</span></td>
                    </tr>
                    <tr>
                        <td>Phone :<span class="tr-company">{{consultant.ownedCompany.phone.e164Number}}</span></td>
                    </tr>
                    <tr>
                        <td>Address :<span class="tr-company">{{consultant.ownedCompany.address}}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div nz-col [nzSpan]="8" *ngIf="consultant">
        <div class="logo"><img class="logo-profile" [src]=" consultant.photo |src | async "
                alt="{{consultant.user.firstName}}'s Photo">
        </div>
        <div class="detail-name name-button"><button mat-raised-button routerLink="/consultant-profile"
                [queryParams]="{ consultantId: consultant.id }">{{consultant.user.firstName}}</button>
        </div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th class="detail-name">Consultant Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Name :<span class="tr-company">{{consultant.user.firstName}}</span></td>
                    </tr>
                    <tr>
                        <td>Surname :<span class="tr-company">{{consultant.user.lastName}}</span></td>
                    </tr>
                    <tr>
                        <td>E-Mail :<span class="tr-company">{{consultant.user.email}}</span></td>
                    </tr>
                    <tr>
                        <td>Phone :<span class="tr-company">{{consultant.phone.e164Number}}</span></td>
                    </tr>
                    <tr>
                        <td>Address :<span class="tr-company">{{consultant.address}}</span></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div nz-col [nzSpan]="8" *ngIf="consultant.workedCompany">
        <div class="logo"><img [src]=" consultant.workedCompany.logo |src | async "
                alt="{{consultant.workedCompany.name}}'s Logo">
        </div>
        <div class="detail-name name-button"><button mat-raised-button routerLink="/company-profile"
                [queryParams]="{ companyId: consultant.workedCompany.id }">{{consultant.workedCompany.name}}</button>
        </div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th class="detail-name">Worked Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Name :<span class="tr-company">{{consultant.workedCompany.name}}</span></td>
                    </tr>
                    <tr>
                        <td>TIN :<span class="tr-company">{{consultant.workedCompany.taxIdentificationNumber}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Tax Office :<span class="tr-company">{{consultant.workedCompany.taxOffice}}</span></td>
                    </tr>
                    <tr>
                        <td>Phone :<span class="tr-company">{{consultant.workedCompany.phone.e164Number}}</span></td>
                    </tr>
                    <tr>
                        <td>Address :<span class="tr-company">{{consultant.workedCompany.address}}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    

</div>

<nz-divider class="divider"></nz-divider>
    <div nz-row *ngIf="consultant&&editEnable">
        <span>
            <nz-radio-group class="radio" [(ngModel)]="radioValue" nzButtonStyle="solid">
                <label nz-radio-button nzValue="allInvoices" *ngIf="this.roleGuard.doRolesMatch(['ADMIN'])">All</label>
                <label nz-radio-button nzValue="ownerInvoices">Owner</label>
                <label nz-radio-button nzValue="remoteInvoices"
                    *ngIf="this.roleGuard.doRolesMatch(['ADMIN'])">Remote</label>
            </nz-radio-group>
        </span>
        <div *ngIf="radioValue=='ownerInvoices'; then ownerInvoicesTmp;">
        </div>
        <div *ngIf="radioValue=='remoteInvoices'; then remoteInvoicesTmp;">
        </div>
        <div *ngIf="radioValue=='allInvoices'; then allInvoicesTmp;">
        </div>
        <ng-template #ownerInvoicesTmp>
            <app-invoice-list nz-col [nzSpan]="24" [consultantId]="consultant.id" [doNotListConsultants]="true"
                [ownerInvoiceListByConsultantId]="true">
            </app-invoice-list>
        </ng-template>
        <ng-template #allInvoicesTmp>
            <app-invoice-list nz-col [nzSpan]="24" [consultantId]="consultant.id" [doNotListConsultants]="true"
                [allInvoiceListByConsultantId]="true">
            </app-invoice-list>
        </ng-template>
        <ng-template #remoteInvoicesTmp>
            <app-invoice-list nz-col [nzSpan]="24" [consultantId]="consultant.id" [doNotListConsultants]="true"
                [remoteInvoiceListByConsultantId]="true">
            </app-invoice-list>
        </ng-template>
    </div>